.Task {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  border-radius: 42px;
  color: rgb(45, 7, 48);
  position: relative;
  .removeBtn {
    position: absolute;
    bottom: 20px;
    right: 31.5px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.35s;
    color: white;
    font-size: 2rem;
    .removeText {
      font-size: 0.8rem;
      color: rgb(45, 7, 48);
      position: absolute;
      bottom: 0;
      right: 12px;
      opacity: 0;
      transition: all 0.35s;
      font-family: "Poppins", sans-serif;
      width: 25px;
      color: rgb(45, 7, 48);

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  .info {
    display: flex;
    justify-content: space-between;

    img,
    .done {
      width: 50px;
      border-radius: 100%;
      background-color: rgb(105, 45, 112);
    }
    .done {
      border: 0;
      font-family: "Eagle Lake", cursive;
      font-size: 2rem;
      filter: grayscale(0.1) contrast(0.9) saturate(1.6);
      cursor: pointer;
      color: rgb(234, 234, 234);
      text-align: center;
      transition: transform 0.35s;
      width: 54px;
      height: 54px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .content {
    span {
      font-size: 0.9rem;
    }

    p {
      font-size: 1.8rem;
    }
  }
}
