.App {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .addTodo {
    font-size: 2rem;
    position: fixed;
    bottom: 30px;
    left: calc(50vw - 50px + 6px);
    width: 70px;
    height: 70px;
    background-color: rgb(184, 39, 194);
    border-radius: 100%;
    border: 0;
    background-color: rgb(105, 45, 112);
    color: rgb(234, 234, 234);
    cursor: pointer;
    transition: transform 0.35s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
